@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: lavender;
}

.logo {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    padding: 15px;
    text-align: center;
    background-color: #341747;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.49);
    text-shadow: 1px 2px 5px rgba(255, 255, 255, 0.611);
}

span#burguer {
    display: block;
    padding: 10px;
    background-color: #5a4669;
    color: white;
    font-size: 2em;
    text-align: center;
    
}

nav {
    display: none;
    margin: auto;
    background-color: #5a4669;
}

nav ul { 
    text-align: center;
    list-style: none;
    text-decoration: none;
}

nav > ul > li > a {
    display: block;
    width: 100%;
    padding: 7px;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    border-top: 2px solid lavender;
}

div.lotus a {
    display: none;
}

main {
    margin: auto;
    width: 90vw;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.49);
}

main p.introducao {
    margin-top: 10px;
    padding: 10px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

main h2.eventos {
    margin: 0px;
    padding: 8px;
    background-color: #341747;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

main div.img-eventos {
    margin: 0px;
    display: flex;
}

main div.img-eventos img {
    width: 50%;
}

main h3.titulo-evento {
    margin-bottom: 30px;
    padding: 7px;
    text-align: center; 
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #341747;
    color: white;
}

div.data-evento {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    border-bottom: 3px solid black;
}

main ul {
    margin: 5px;
    font-size: 1.2em;
    list-style: none;
    text-decoration: underline;
}

img.logo-marca {
    display: flex;
    width: 20%;
    height: 20%;
    margin-bottom: 20px;
}

div.socorro {
    width: 100%;
    padding: 10px;
}

div.socorro h2 {
    padding: 10px;
    background-color: #7A5F8F;
    color: white;
    text-align: left;
    font-family: 1em;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.499);
}

div.socorro p {
    width: 90%;
    margin-top: 5px;
    padding: 10px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

div.video {
    position: relative;
    width: 100%;
    height: 100%;
}

iframe.video-centro {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -0%);
}

section.agradecimento {
    padding: 10px;
}

section.agradecimento h2 {
    padding: 10px;
    background-color: #7A5F8F;
    color: white;
    text-align: left;
    font-family: 1em;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.499);
}

section.agradecimento p {
    width: 90%;
    margin-top: 5px;
    padding: 10px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

footer {
    position: relative;
    background-color: rgb(0, 0, 0);
    color: white;
}

footer div.redes-sociais {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    margin: auto;
    height: 320px;
}

footer > div > a {
    display: block;
    border: 1px solid black;
    margin: auto;
    padding: 5px;
    width: 30%;
    background-color: lavender;
    color: black;
    font-size: 1.3em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-radius: 25px;
    box-shadow: 0px 0px 2px rgba(230, 230, 250, 0.604);
}

footer > div > h3 {
    margin-top: 10px;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.5em;
}

footer > div > p {
    margin: 5px;
    padding: 10px;
    font-family: monospace;
    font-size: 1.2em;
}

footer > p {
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lavender;
    color: #341747;
}

/* 
    Para index1(a,b,c)
*/

.submenu {
    display: inline-block;
    margin: auto;
    padding: 10px;
    width: 100%;
    height: 110px;
    background-color: #5a4669;
    text-decoration: underline;
}

.submenu li {
    text-align: left;
    margin-left: 30px;
    padding-bottom: 7px;
}

.submenu li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;   
}

/* 
    Para index2
*/

div.socorro h3 {
    width: 100%;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #7A5F8F;
    color: white;
}

div.socorro h4 {
    width: max-content;
    margin: 7px;
    padding: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    background-color: #84669a;
    color: white;
    border-radius: 10px;
}

div.socorro h5 {
    margin: 7px;
    margin-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
}

div.socorro p {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

